<div>
  <form [formGroup]="Form">

    <div class="mb-3">
      <label for="number" class="form-label">Número</label>
      <input formControlName="name" type="text" class="form-control" id="name" required>
    </div>

    <div class="mb-3">
      <label for="number" class="form-label">Número</label>
      <input formControlName="number" type="text" class="form-control" id="number" required>
    </div>

    <button type="submit" class="btn btn-primary mr-2" id="separar" (click)="onSubmit()">Submit</button>
    <button type="button" class="btn btn-primary" (click)="onCancel()" [routerLink]="['']">cancelar</button>
  </form>
</div>
